# API 1

In [112]:
import requests
import pandas as pd

In [113]:
response= requests.get('https://openlibrary.org/search.json?q=the+lord+of+the+rings')

book = pd.DataFrame(response.json())
book.head()
#data.shape

,numFound,start,numFoundExact,docs,num_found,q,offset
0,786,0,True,"{'key': '/works/OL27448W', 'type': 'work', 'se...",786,the lord of the rings,None
1,786,0,True,"{'key': '/works/OL14933414W', 'type': 'work', ...",786,the lord of the rings,None
2,786,0,True,"{'key': '/works/OL27658078W', 'type': 'work', ...",786,the lord of the rings,None
3,786,0,True,"{'key': '/works/OL27479W', 'type': 'work', 'se...",786,the lord of the rings,None
4,786,0,True,"{'key': '/works/OL27516W', 'type': 'work', 'se...",786,the lord of the rings,None

In [114]:
book.shape

(100, 7)

In [115]:
book['q'].unique()

array(['the lord of the rings'], dtype=object)

In [116]:
def flatten(book, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(book[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        book = pd.concat([book, flattened], axis=1)
        book = book.drop(column, axis=1)
    return book

In [117]:
dict(book['docs'])
pd.DataFrame(dict(book['docs']))
pd.DataFrame(dict(book['docs'])).transpose()

,key,type,seed,title,title_suggest,title_sort,edition_count,edition_key,publish_date,publish_year,...,id_bcid,id_better_world_books,id_british_national_bibliography,id_nla,id_bibliothèque_nationale_de_france,id_british_library,id_hathi_trust,id_scribd,subtitle,id_libris
0,/works/OL27448W,work,"[/books/OL9158246M, /books/OL9177076M, /books/...",The Lord of the Rings,The Lord of the Rings,The Lord of the Rings,158,"[OL9158246M, OL9177076M, OL7883890M, OL2121711...","[July 1995, May 19, 1981, Jun 30, 2000, 1992, ...","[1980, 1968, 2008, 1995, 2014, 1988, 1992, 199...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,/works/OL14933414W,work,"[/books/OL8889789M, /books/OL22266040M, /books...",The Fellowship of the Ring,The Fellowship of the Ring,The Fellowship of the Ring,249,"[OL8889789M, OL22266040M, OL26448808M, OL15327...","[2016 August, 1965, Aug 31, 2001, 1954, 1999 J...","[1965, 1954, 1991, 1974, 2001, 1976, 1978, 200...",...,"[12802787, 12802800]",[BWB14938907],[GB7428478],"[44702252, 6331275, 5961254]",NaN,NaN,NaN,NaN,NaN,NaN
2,/works/OL27658078W,work,"[/books/OL37711595M, /works/OL27658078W, /auth...",Official the lôrd of the Rîngs 2022 Calendar,Official the lôrd of the Rîngs 2022 Calendar,Official the lôrd of the Rîngs 2022 Calendar,1,[OL37711595M],[2021],[2021],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/works/OL27479W,work,"[/books/OL27296256M, /books/OL31879906M, /book...",The Two Towers,The Two Towers,The Two Towers,211,"[OL27296256M, OL31879906M, OL13320854M, OL1960...","[1972 August, 1988, 1995, 1982, 1991 January, ...","[2015, 2010, 1988, 1976, 1977, 1995, 1982, 200...",...,[12804026],NaN,"[GB7428479, GB7905351]","[46585829, 8100354, 1429660, 42362607, 2528233...",[FRBNF34580695],"[005580750, 006716450]",[006059825],[295928580],NaN,NaN
4,/works/OL27516W,work,"[/books/OL31905946M, /books/OL9924431M, /books...",The Return of the King,The Return of the King,The Return of the King,189,"[OL31905946M, OL9924431M, OL27040882M, OL17427...","[November 19, 1992, July 1995, June 1991, 1983...","[1983, 2008, 1995, 2014, 1988, 1950, 1992, 197...",...,[12804060],NaN,[BNB GB9049021],"[42362607, 8100354, 3204569]",NaN,NaN,[006059825],[302184403],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,/works/OL15588685W,work,"[/books/OL24539982M, /works/OL15588685W, /subj...",The Lord of the rings online,The Lord of the rings online,The Lord of the rings online,1,[OL24539982M],[2007],[2007],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,/works/OL14933408W,work,"[/books/OL49430M, /books/OL8159083M, /books/OL...",J. R. R. Tolkien's The Lord of the Rings,J. R. R. Tolkien's The Lord of the Rings,J. R. R. Tolkien's The Lord of the Rings,3,"[OL49430M, OL8159083M, OL16523538M]","[2008, 2000, April 2000]","[2008, 2000]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,/works/OL31988962W,work,"[/books/OL43705126M, /works/OL31988962W, /subj...",Lord of the Rings,Lord of the Rings,Lord of the Rings,1,[OL43705126M],[2001-01-01],[2001],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Treason of Isengard,NaN
98,/works/OL8488048W,work,"[/books/OL10872493M, /books/OL8005591M, /books...",Lord of the Rings Instrumental Solos,Lord of the Rings Instrumental Solos,Lord of the Rings Instrumental Solos,5,"[OL10872493M, OL8005591M, OL10872192M, OL80055...",[August 2004],[2004],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,/works/OL3062780W,work,"[/books/OL25430694M, /books/OL3700728M, /works...",The Lord of the Rings,The Lord of the Rings,The Lord of the Rings,2,"[OL25430694M, OL3700728M]",[2002],[2002],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
nested_columns = ['docs']

flat = flatten(book,nested_columns)
flat

,numFound,start,numFoundExact,num_found,q,offset,docs_key,docs_type,docs_seed,docs_title,...,docs_id_bcid,docs_id_better_world_books,docs_id_british_national_bibliography,docs_id_nla,docs_id_bibliothèque_nationale_de_france,docs_id_british_library,docs_id_hathi_trust,docs_id_scribd,docs_subtitle,docs_id_libris
0,786,0,True,786,the lord of the rings,None,/works/OL27448W,work,"[/books/OL9158246M, /books/OL9177076M, /books/...",The Lord of the Rings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,786,0,True,786,the lord of the rings,None,/works/OL14933414W,work,"[/books/OL8889789M, /books/OL22266040M, /books...",The Fellowship of the Ring,...,"[12802787, 12802800]",[BWB14938907],[GB7428478],"[44702252, 6331275, 5961254]",NaN,NaN,NaN,NaN,NaN,NaN
2,786,0,True,786,the lord of the rings,None,/works/OL27658078W,work,"[/books/OL37711595M, /works/OL27658078W, /auth...",Official the lôrd of the Rîngs 2022 Calendar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,786,0,True,786,the lord of the rings,None,/works/OL27479W,work,"[/books/OL27296256M, /books/OL31879906M, /book...",The Two Towers,...,[12804026],NaN,"[GB7428479, GB7905351]","[46585829, 8100354, 1429660, 42362607, 2528233...",[FRBNF34580695],"[005580750, 006716450]",[006059825],[295928580],NaN,NaN
4,786,0,True,786,the lord of the rings,None,/works/OL27516W,work,"[/books/OL31905946M, /books/OL9924431M, /books...",The Return of the King,...,[12804060],NaN,[BNB GB9049021],"[42362607, 8100354, 3204569]",NaN,NaN,[006059825],[302184403],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,786,0,True,786,the lord of the rings,None,/works/OL15588685W,work,"[/books/OL24539982M, /works/OL15588685W, /subj...",The Lord of the rings online,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,786,0,True,786,the lord of the rings,None,/works/OL14933408W,work,"[/books/OL49430M, /books/OL8159083M, /books/OL...",J. R. R. Tolkien's The Lord of the Rings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,786,0,True,786,the lord of the rings,None,/works/OL31988962W,work,"[/books/OL43705126M, /works/OL31988962W, /subj...",Lord of the Rings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Treason of Isengard,NaN
98,786,0,True,786,the lord of the rings,None,/works/OL8488048W,work,"[/books/OL10872493M, /books/OL8005591M, /books...",Lord of the Rings Instrumental Solos,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,786,0,True,786,the lord of the rings,None,/works/OL3062780W,work,"[/books/OL25430694M, /books/OL3700728M, /works...",The Lord of the Rings,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# API 2

In [119]:
import requests
import pandas as pd

In [120]:
response= requests.get('https://tenders.guru/api/es/tenders')

tender = pd.DataFrame(response.json())
tender.head()
#data.shape

,page_count,page_number,page_size,total,data
0,7146,1,100,714598,"{'id': '831333', 'date': '2021-06-29', 'deadli..."
1,7146,1,100,714598,"{'id': '831322', 'date': '2021-05-17', 'deadli..."
2,7146,1,100,714598,"{'id': '831319', 'date': '2021-06-29', 'title'..."
3,7146,1,100,714598,"{'id': '831318', 'date': '2021-06-29', 'title'..."
4,7146,1,100,714598,"{'id': '831317', 'date': '2021-05-26', 'deadli..."

In [121]:
tender.shape

(100, 5)

In [132]:
def flatten1(tender, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(tender[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        tender = pd.concat([tender, flattened], axis=1)
        tender = tender.drop(column, axis=1)
    return tender

In [133]:
dict(tender['data'])
pd.DataFrame(dict(tender['data']))
pd.DataFrame(dict(tender['data'])).transpose()

,id,date,deadline_date,deadline_length_days,title,category,sid,src_url,purchaser,type,awarded
0,831333,2021-06-29,2021-06-07,22,Servicio de producción de células mesenquimale...,services,7791427,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1988', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-29', 'value_for_two': 16356..."
1,831322,2021-05-17,2021-06-01,15,Contratación de Servicio de la Programación de...,services,7554969,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '49', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-29', 'value_for_two': 0, 's..."
2,831319,2021-06-29,NaN,NaN,Adquisicion de impresoras A4 Color para el Min...,supplies,7791419,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 0, 's..."
3,831318,2021-06-29,NaN,NaN,Renovación de las licencias de productos Opent...,supplies,7791418,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 48916..."
4,831317,2021-05-26,2021-06-11,16,Servicios de digitalización de las solicitudes...,services,7611066,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '281', 'sid': None, 'name': None}","{'id': 'open', 'name': 'Open', 'slug': 'open'}","[{'date': '2021-06-29', 'value_for_two': 19781..."
...,...,...,...,...,...,...,...,...,...,...,...
95,830910,2021-06-28,2021-06-29,1,Servicio mantenimiento integral de los acelera...,services,7784255,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '346', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-28', 'value_for_two': 39813..."
96,830897,2021-06-28,2021-06-16,12,Suministro de reactivos para la determinación ...,supplies,7784189,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '3267', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-28', 'value_for_two': 54849..."
97,830884,2021-05-04,2021-05-25,21,Suministro de gas natural canalizado en el edi...,supplies,7482922,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '5255', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 0, 's..."
98,830883,2021-06-09,2021-06-24,15,"Servicio de carga y descarga, movimiento y mon...",services,7681316,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '9747', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 57350..."
99,830875,2021-06-02,2021-06-14,12,"Adquisició d'un vehicle nou 100% elèctric, for...",supplies,7648416,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '11664', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 24483..."

In [135]:
nested_columns = ['data']

flat = flatten1(tender,nested_columns)
flat

,page_count,page_number,page_size,total,data_id,data_date,data_deadline_date,data_deadline_length_days,data_title,data_category,data_sid,data_src_url,data_purchaser,data_type,data_awarded
0,7146,1,100,714598,831333,2021-06-29,2021-06-07,22,Servicio de producción de células mesenquimale...,services,7791427,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1988', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-29', 'value_for_two': 16356..."
1,7146,1,100,714598,831322,2021-05-17,2021-06-01,15,Contratación de Servicio de la Programación de...,services,7554969,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '49', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-29', 'value_for_two': 0, 's..."
2,7146,1,100,714598,831319,2021-06-29,NaN,NaN,Adquisicion de impresoras A4 Color para el Min...,supplies,7791419,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 0, 's..."
3,7146,1,100,714598,831318,2021-06-29,NaN,NaN,Renovación de las licencias de productos Opent...,supplies,7791418,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '1952', 'sid': None, 'name': None}",{'id': 'contract-based-on-a-framework-agreemen...,"[{'date': '2021-06-29', 'value_for_two': 48916..."
4,7146,1,100,714598,831317,2021-05-26,2021-06-11,16,Servicios de digitalización de las solicitudes...,services,7611066,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '281', 'sid': None, 'name': None}","{'id': 'open', 'name': 'Open', 'slug': 'open'}","[{'date': '2021-06-29', 'value_for_two': 19781..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7146,1,100,714598,830910,2021-06-28,2021-06-29,1,Servicio mantenimiento integral de los acelera...,services,7784255,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '346', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-28', 'value_for_two': 39813..."
96,7146,1,100,714598,830897,2021-06-28,2021-06-16,12,Suministro de reactivos para la determinación ...,supplies,7784189,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '3267', 'sid': None, 'name': None}","{'id': 'negotiated-without-publicity', 'name':...","[{'date': '2021-06-28', 'value_for_two': 54849..."
97,7146,1,100,714598,830884,2021-05-04,2021-05-25,21,Suministro de gas natural canalizado en el edi...,supplies,7482922,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '5255', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 0, 's..."
98,7146,1,100,714598,830883,2021-06-09,2021-06-24,15,"Servicio de carga y descarga, movimiento y mon...",services,7681316,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '9747', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 57350..."
99,7146,1,100,714598,830875,2021-06-02,2021-06-14,12,"Adquisició d'un vehicle nou 100% elèctric, for...",supplies,7648416,https://contrataciondelestado.es/wps/poc?uri=d...,"{'id': '11664', 'sid': None, 'name': None}","{'id': 'simplified-open', 'name': 'Simplified ...","[{'date': '2021-06-28', 'value_for_two': 24483..."

In [136]:
# THere are dictionaries into dictionaries which we don't need to go further with this one

# API 3

In [137]:
import requests
import pandas as pd

In [138]:
response= requests.get('https://api.covid19tracker.ca/summary')

covid = pd.DataFrame(response.json())
covid.head()

                                                data         last_updated
0  {'latest_date': '2023-06-12', 'change_cases': ...  2023-06-13 00:06:07

In [139]:
covid.shape

(1, 2)

In [140]:
def flatten2(covid, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(covid[column])).transpose()
        covid = [str(col) for col in flattened.columns]
        covid.columns = [column + '_' + colname for colname in columns]
        covid = pd.concat([covid, flattened], axis=1)
        covid = covid.drop(column, axis=1)
    return covid

In [141]:
dict(covid['data'])
pd.DataFrame(dict(covid['data']))
pd.DataFrame(dict(covid['data'])).transpose()

,change_boosters_1,change_boosters_2,change_cases,change_criticals,change_fatalities,change_hospitalizations,change_recoveries,change_tests,change_vaccinated,change_vaccinations,...,total_boosters_2,total_cases,total_criticals,total_fatalities,total_hospitalizations,total_recoveries,total_tests,total_vaccinated,total_vaccinations,total_vaccines_distributed
0,100,5093,1,0,0,0,0,0,67,5313,...,11959848,4567667,149,50470,2718,3954939,62537526,31627383,98152812,101586018